.password.q-field--with-bottom {
  padding-bottom: 0;
}
.password .q-field__bottom {
  display: inline;
  align-items: self-start;
  position: relative;
}
.password .q-field__bottom .q-field__messages {
  padding-top: 5px;
}
.password .q-field__bottom .q-field__counter {
  padding: 0;
}