<template>
  <div class="row q-col-gutter-md">
    <div class="col-xs-12 col-sm-9">
      <div class="q-gutter-md">
        <base-section>
          <div class="col-xs-12">
            <q-skeleton type="text" />
            <q-skeleton type="text" />
            <q-skeleton width="90%" type="text" />
          </div>
        </base-section>
        <base-section>
          <div class="col-xs-12">
            <q-skeleton type="text" />
            <q-skeleton type="text" />
            <q-skeleton width="90%" type="text" />
            <q-skeleton type="text" />
            <q-skeleton type="text" />
            <q-skeleton width="90%" type="text" />
          </div>
        </base-section>
        <base-section>
          <div class="col-xs-12">
            <q-skeleton type="text" />
            <q-skeleton type="text" />
            <q-skeleton width="90%" type="text" />
            <q-skeleton type="text" />
            <q-skeleton type="text" />
            <q-skeleton width="90%" type="text" />
          </div>
        </base-section>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <base-section>
        <div class="col-xs-12">
          <q-skeleton type="text" />
          <q-skeleton type="text" />
          <q-skeleton width="90%" type="text" />
          <q-skeleton type="text" />
          <q-skeleton type="text" />
          <q-skeleton width="90%" type="text" />
          <q-skeleton type="text" />
          <q-skeleton type="text" />
          <q-skeleton width="90%" type="text" />
          <q-skeleton type="text" />
          <q-skeleton type="text" />
          <q-skeleton type="text" />
          <q-skeleton type="text" />
          <q-skeleton width="90%" type="text" />
          <q-skeleton type="text" />
          <q-skeleton type="text" />
          <q-skeleton width="90%" type="text" />
          <q-skeleton type="text" />
          <q-skeleton type="text" />
          <q-skeleton width="90%" type="text" />
        </div>
      </base-section>
    </div>
    <div class="col-xs-12">
      <q-skeleton type="QBtn" />
    </div>
  </div>
</template>
