<template>
  <q-page padding class="flex flex-center">
    <div class="row" style="width: 300px">
      <div class="text-h5">Homepage</div>
      <div class="sub-title">
        This page is blank, content is currently being developed.
      </div>
    </div>
  </q-page>
</template>
