// app global css in SCSS form
.bg-main {
  background: $background;
}

.app-title {
  font-family: "Bungee", cursive;
  font-size: 1.75em;
}

.text-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
  color: #000000;
}

.text-small {
  font-size: 10px;
}

.subscription-manages {
  .q-card__section {
    padding-top: 0 !important;
  }
}

.base-current-user-widget {
  position: relative;

  &.base-user-widget {
    .user-info {
      background: #e9e9e9;
      color: #828282;
      padding-right: 15px;
    }
  }
  .user-info {
    border-radius: 50px;
    background: $primary;
    padding: 0 10px;
    color: white;
    z-index: 99;
  }
  .text-subtitle2 {
    font-weight: 500;
  }
  .menus {
    position: absolute;
    display: none;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 30px;
    background: #ffffff;
    color: $primary;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 12px 12px;
    color: #000000;
  }

  &:hover .menus {
    display: block;
  }
}

.base-header {
  border-color: $separator-color;
  .q-toolbar {
    min-height: $header-height;
    padding: 0 20px;
  }
}

.base-label {
  .q-focus-helper {
    display: none;
  }

  .q-icon {
    font-size: 16px;
    margin-right: 12px;
  }
}

.pagination {
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(153, 153, 153, 0.15);
  border-radius: 12px;
  padding: 10px 20px;

  .q-pagination {
    .row > *:not(:first-child) {
      margin-left: 8px;
    }
    .q-btn {
      border-radius: 5px;
    }
  }
}

.base-btn__no-focus {
  min-height: auto;
  // display: unset;
  &.q-btn,
  &.q-btn-dropdown {
    line-height: initial;
    padding: 0;
    vertical-align: baseline;
    &:before {
      display: none;
    }
    .q-focus-helper {
      display: none;
    }
    .q-icon:not(.q-btn-dropdown__arrow) {
      font-size: inherit;
    }
  }
  &.no-icon:hover .q-btn__content,
  &:hover .q-btn__content > :not(i) {
    text-decoration: underline;
  }
  .q-btn__content {
    // display: unset;
    text-align: left;
  }
}

.q-field__bottom {
  padding: 5px 0px 0;
}

.q-field--outlined .q-field__control {
  border-radius: 10px;
}

.q-card {
  box-shadow: 0px 8px 24px rgba(153, 153, 153, 0.15);
  .q-card__section--vert {
    padding: 27px;
  }
}

.q-dialog__inner > div {
  border-radius: 12px;
}

.main-btn {
  height: 44px;
  min-width: 100px;
}

.link-item {
  &.sublinks {
    .q-item__section--avatar {
      min-width: auto;
    }
    .q-icon {
      font-size: 16px;
    }
  }
  &.q-item,
  &.sublinks .q-item {
    color: $primary;
    font-weight: 500;
    padding: 8px 30px;
  }
  &.active,
  &.sublinks .sublink-active {
    background: $primary;
    color: white !important;
  }
  &.sublinks .active {
    background: $separator-color;
    color: $primary !important;
  }
}

.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid;
}

.q-pt-none {
  padding-top: 0 !important;
}

.q-pa-none {
  padding: 0 !important;
}

.payment-method-card.inline {
  display: flex;
  position: relative;
  .q-radio__inner {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
    z-index: 999;
  }
  .q-radio__label {
    width: 100%;
    padding: 0;
  }
}

.base-dropdown {
  &.q-field--borderless .q-field__native {
    padding: 0;
  }
  &.q-field--borderless .q-field__control,
  &.q-field--borderless .q-field__native,
  &.q-field--borderless .q-field__marginal {
    min-height: auto;
    height: auto;
  }
  .q-virtual-scroll__content .q-item,
  .no-options.q-item {
    border-radius: 4px;
    padding: 2px 10px;
    min-height: 35px;
  }
}

.card-details {
  .q-card > .q-card__section {
    min-height: 170px;
    display: flex;
    flex-direction: column;
    flex: 1;
    .actions {
      margin-top: auto;
    }
  }
}

// start override q-input style
.q-field--dense:not(.q-textarea, .tags) .q-field__control,
.q-field--dense:not(.q-textarea, .tags) .q-field__marginal {
  height: 44px;
}
.q-field--auto-height.q-field--dense .q-field__control,
.q-field--auto-height.q-field--dense .q-field__native {
  min-height: 40px;
}
.q-field--outlined .q-field__control {
  border-radius: 12px;
}
// end override q-input style

.q-skeleton {
  background: rgba(0, 0, 0, 0.12);
}

.sortable-chosen {
  .remove {
    display: none;
  }
}
.ghost-file {
  opacity: 0.5;
  background: #c8ebfb;
}

// main table style
.main-table {
  max-height: 100%;
  background: none;
  .q-table__middle.scroll {
    overflow: initial;
  }
  .q-table__top {
    padding: 0 0 16px;
  }
  .q-field--square {
    .q-field__control {
      background: #fff;
    }
  }
  .q-field--dense {
    .q-field__bottom {
      font-size: 10px;
      padding: 5px 0 0 0;
    }
  }
  thead {
    font-weight: 700;
    background: #ededed;
    tr {
      th {
        position: sticky;
        z-index: 1;
      }
      &:last-child {
        th {
          top: 138px;
        }
      }
      &:first-child {
        th {
          top: $header-height;
        }
      }
    }
  }
  th {
    font-weight: 700;
    background: #ededed;
  }
  .table-header-datetime {
    width: 120px;
  }
  .table-row-datetime {
    width: 120px;
  }
  .table-header-actions {
    width: 40px;
    text-align: center;
  }
  .table-row-actions {
    width: 40px;
    text-align: center;
  }
  tbody {
    background: #fff;
  }
  tr {
    .hover {
      visibility: hidden;
    }
    &:hover {
      .hover {
        visibility: visible;
      }
    }
  }
}
