// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #3272bc;
$secondary: #f03b01;
$accent: #9c27b0;

// used by dark mode
$dark-page: #121212;
$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// custom color variable
$text-menu: #313131;
$active-menu-bg: #f3fdff;
$background: #f5f5f5;

$header-height: 70px;

$h1: (
  size: 6rem,
  line-height: 6rem,
  letter-spacing: -0.01562em,
  weight: 300,
);
$h2: (
  size: 3.75rem,
  line-height: 3.75rem,
  letter-spacing: -0.00833em,
  weight: 300,
);
$h3: (
  size: 3rem,
  line-height: 3.125rem,
  letter-spacing: normal,
  weight: 400,
);
$h4: (
  size: 2.125rem,
  line-height: 2.5rem,
  letter-spacing: 0.00735em,
  weight: 400,
);
$h5: (
  size: 1.5rem,
  line-height: 2.25rem,
  letter-spacing: normal,
  weight: 600,
);
$h6: (
  size: 1.25rem,
  line-height: 1.875rem,
  letter-spacing: 0.0125em,
  weight: 600,
);
$subtitle1: (
  size: 1rem,
  line-height: 1.5rem,
  letter-spacing: 0.00937em,
  weight: 600,
);
$subtitle2: (
  size: 0.875rem,
  line-height: 1.375rem,
  letter-spacing: 0.00714em,
  weight: 600,
);
$body1: (
  size: 1rem,
  line-height: 1.5rem,
  letter-spacing: 0.03125em,
  weight: 400,
);
$body2: (
  size: 0.875rem,
  line-height: 1.313rem,
  letter-spacing: 0.01786em,
  weight: 400,
);
$overline: (
  size: 0.75rem,
  line-height: 2rem,
  letter-spacing: 0.16667em,
  weight: 500,
);
$caption: (
  size: 0.75rem,
  line-height: 1.25rem,
  letter-spacing: 0.03333em,
  weight: 400,
);

// sorry for long line; we need .sass and it doesn't support multi-line list
$headings: (
  "h1": $h1,
  "h2": $h2,
  "h3": $h3,
  "h4": $h4,
  "h5": $h5,
  "h6": $h6,
  "subtitle1": $subtitle1,
  "subtitle2": $subtitle2,
  "body1": $body1,
  "body2": $body2,
  "overline": $overline,
  "caption": $caption,
);

// sorry for long line; we need .sass and it doesn't support multi-line list
$h-tags: (
  h1: map-get($headings, "h1"),
  h2: map-get($headings, "h2"),
  h3: map-get($headings, "h3"),
  h4: map-get($headings, "h4"),
  h5: map-get($headings, "h5"),
  h6: map-get($headings, "h6"),
);

// sorry for long line; we need .sass and it doesn't support multi-line list
$text-weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  bolder: 900,
);

$dimmed-background: rgba(0, 0, 0, 0.4);
$light-dimmed-background: rgba(255, 255, 255, 0.6);

$separator-color: #999999;
$separator-dark-color: rgba(255, 255, 255, 0.28);

$generic-border-radius: 12px;
$generic-hover-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
$typography-font-family: "Roboto", sans-serif;
$min-line-height: 1.12;

$button-border-radius: 12px;
$button-padding: 4px 16px;
$button-dense-padding: 0.285em;
$button-transition: $generic-hover-transition;
$button-font-size: 14px;
$button-line-height: 1.715em;
$button-font-weight: 500;
$button-rounded-border-radius: 28px;
$button-push-border-radius: 7px;
$button-shadow: none;

$layout-border: 1px solid $separator-color;
$layout-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0px 10px rgba(0, 0, 0, 0.24);

$menu-background: #fff;
$menu-max-width: 95vw;

$option-focus-transition: 0.22s cubic-bezier(0, 0, 0.2, 1);

$input-font-size: 14px;
$input-text-color: rgba(0, 0, 0, 0.87);
$input-label-color: rgba(0, 0, 0, 0.6);
$input-autofill-color: inherit;
